*{padding:0;
    margin:0;}
    
    $estilos:(
    titulo: teal,
    );

    @mixin images ($width, $margin){
        width: $width;
        margin: $margin;
    }



    header{
    background-image: linear-gradient( rgb(201, 103, 103), yellow);}
    
    .menu{
    display: flex;
    flex-direction: row-reverse;
    }
    
    ul li{display: inline;
    background-color: rgb(31, 3, 95);
    padding: 8px 10px;
    font-weight: bold;
    margin: 20px 10px 0px 0px;
    font-size: 20px;

        &:hover{display: inline;
            background-color: rgb(26, 47, 110);
            padding: 8px 10px;
            font-weight: bold;
            margin: 20px 10px 0px 0px;
            transform: scale(1.05,1.05);}

        a{color: rgb(192, 192, 192);
        text-decoration: none;}
    }
    
    
    .logo{@include images(70px, 6px 0px 0px 10px);
    position: absolute;}

    .indexH1{font-style: italic;
    padding-left: 10vw;
    background-color: map-get($estilos, titulo);
}
    
    .fondo{background-color: rgb(240, 240, 240);
    
    .imagen2{@include images(400px,0 0 0 15vw )
}
    
    .parrafo{font-size: 18px;
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-right: 15%;
    min-height: 31vh;
    }
}

    footer{background-color: rgb(53, 53, 53);
        color: white;
    .imagen{@include images(65px, 0 0 0 1%);
        display: inline;}
        .imagenes{margin-left: 85%}
    }
    
        /*inicio servicio*/
    
        .plata{max-width: 35%;
        }
        ul li {
            display: inline;
            background-color: #1f035f;
            padding: 8px 10px;
            font-weight: bold;
            margin: 20px 10px 0px 0px;
            text-align: center;
            font-size: 1.1vw; }
        .serviForm{margin: 25px 0px 0px 10px ;
        min-height: 50vh;}
    .serv{margin-top: 70px;
        font-size: 20px;
    margin-left: 10px;}
    .serv2{@extend .serv;}
    .servicios{margin: 30px 0px 0px 0px;
    color: rgb(206, 188, 188);}
    
    
    .servicioH1{@extend .indexH1;
    }
    
        /*fin servicio*/
    
        /*inicio nosotros*/
    
    .tecnico{margin: 1vw 0px 1vw 5vw;}
    .nosotros{font-family: "Roboto", arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
    margin: 0% 1% 0% 1% ;
    min-height: 46vh;}
    .tituloNos{margin-left: 1%;}
        /*fin nosotros*/
    
        /*inicio preguntas*/
    
    
        dt{font-family: "Roboto", arial, sans-serif;
            font-size: 26px;
        font-weight: bold;
    margin-bottom: 8px;
    margin-top: 3px;
    text-decoration: underline;}
    
    .preguntandose{max-width: 200px;}
    
    .duda{font-family: "Roboto", arial, sans-serif;
        font-size: 18px;
    font-weight: bold;
margin-top: 10vh;
padding-left: 2vh;
background-color: rgb(112, 113, 116);}
    
    .pregunta{padding: 2vh 0px 2vh 5vh;
    height: 42vh;
background-color: rgb(112, 113, 116);}
    

    
    .frecuentes{@extend .indexH1;}
        /*fin preguntas*/
    
        /*inicio contacto*/
    
        .contactoh1{@extend .indexH1;}
    .spam2{font-family: "Roboto", arial, sans-serif;
        font-size: 20px;
    font-weight: bold;}
    
        .contactar{
            font-family: "Roboto", arial, sans-serif;
        font-size: 20px;
            min-height: 71vh;}
        /* fin contacto*/