* {
  padding: 0;
  margin: 0; }

header {
  background-image: linear-gradient(#c96767, yellow); }

.menu {
  display: flex;
  flex-direction: row-reverse; }

ul li {
  display: inline;
  background-color: #1f035f;
  padding: 8px 10px;
  font-weight: bold;
  margin: 20px 0.6% 0px 0px;
  font-size: 20px; }
  ul li:hover {
    display: inline;
    background-color: #1a2f6e;
    padding: 8px 10px;
    font-weight: bold;
    margin: 20px 0.6% 0px 0px;
    transform: scale(1.05, 1.05); }
  ul li a {
    color: silver;
    text-decoration: none; }

@media (max-width: 768px) {
  ul li {
    font-size: 15px; } }

@media (max-width: 576px) {
  ul li {
    font-size: 2.2vw;
    padding: 1.8vw 2.8vw; } }

.logo {
  width: 70px;
  margin: 6px 0px 0px 10px;
  position: absolute; }

@media (max-width: 1400px) {
  .logo {
    width: 60px;
    margin: 6px 0px 0px 10px;
    position: absolute; } }

@media (max-width: 768px) {
  .logo {
    width: 50px;
    margin: 6px 0px 0px 10px;
    position: absolute; } }

.indexH1, .servicioH1, .frecuentes, .contactoh1 {
  font-style: italic;
  padding-left: 10vw;
  background-color: teal; }

.fondo {
  background-color: #f0f0f0; }
  .fondo .imagen2 {
    width: 400px;
    margin: 0 0 0 15vw; }
  @media (max-width: 600px) {
    .fondo .imagen2 {
      width: 66vw;
      margin: 0 0 0 15vw; } }
  .fondo .parrafo {
    font-size: 18px;
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-right: 15%;
    min-height: 31vh; }

footer {
  background-color: #353535;
  color: white; }
  footer .imagen {
    width: 65px;
    margin: 0 0 0 1%;
    display: inline; }
  footer .imagenes {
    margin-left: 85%; }

/*inicio servicio*/
.plata {
  max-width: 35%; }

.serviForm {
  margin: 25px 0px 0px 10px;
  min-height: 50vh; }

.serv, .serv2 {
  margin-top: 70px;
  font-size: 20px;
  margin-left: 10px; }

.servicios {
  margin: 30px 0px 0px 0px;
  color: #cebcbc; }

.centrado {
  text-align: center; }

/*fin servicio*/
/*inicio nosotros*/
.tecnico {
  margin: 1vw 0px 1vw 5vw; }

@media (max-width: 600px) {
  .tecnico {
    width: 66vw;
    margin: 2vw 0 1vw 5vw; } }

.nosotros {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0% 1% 0% 1%;
  min-height: 46vh; }

.tituloNos {
  margin-left: 1%; }

/*fin nosotros*/
/*inicio preguntas*/
dt {
  font-family: "Roboto", arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 3px;
  text-decoration: underline; }

.preguntandose {
  max-width: 200px; }

.duda {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10vh;
  padding-left: 2vh;
  background-color: #707174; }

.pregunta {
  padding: 2vh 0px 2vh 5vh;
  height: 42vh;
  background-color: #707174; }

/*fin preguntas*/
/*inicio contacto*/
.spam2 {
  font-family: "Roboto", arial, sans-serif;
  font-size: 20px;
  font-weight: bold; }

.contactar {
  font-family: "Roboto", arial, sans-serif;
  font-size: 20px;
  min-height: 71vh; }

/* fin contacto*/
